/* attribute selector */
/* [name="email"]{
    color: red;
}
/* Descendent ( ) */
/* div h3{
    color: blue;
}

/* Child Combinator */
/* div > h4{
    color: green;
} */

/* next sibling combinator */
/* div + h1{
    background: black;
    color: rgb(227, 9, 9);
} */

/* sub sibling combinator */
div ~ h1{
    background: black;
    color: rgb(227, 9, 9);
}

/* nesting Selector */
main > div{
    background: rgb(0, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    & *:hover{
        color: rgb(255, 0, 0);
    }
}